*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
